<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
</head>
<body>

<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="password">Enter password: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <br/>
    <label for="age">Enter age: </label>
    <input type="number" th:field="*{age}" id="age"/>
    <br/>
    <br>
    <input th:type="checkbox" th:id="1" th:name="ADMIN" th:value="ADMIN">
    <label th:for="ADMIN">Admin</label>
    <input th:type="checkbox" th:id="2" th:name="USER" th:value="USER">
    <label th:for="USER">User</label>
    <br/>
    <input type="submit" value="Create!"/>
    <br/>
    <hr/>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Log out" />
    </form>
</form>

</body>
</html>